* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    min-width: 100px;
    background-color: #a7ffeb;
    overflow-x: hidden;
}

.container {
    max-width: 450px;
    margin: 0 auto;
}

.row {
    font-size: 0;
}

.cell-column {
    display: inline-block;
    width: 33.33%;
    font-size: 35px;
    color: white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.cell-wrap {
    padding-bottom: 100%;
    position: relative;
}

.cell {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00695c;
    text-align: center;
}

.cell-column:last-child {
    border-right-color: transparent;
}

.row:last-child .cell-column {
    border-bottom: 0;
}

.cell:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.content {
    display: inline-block;
    vertical-align: middle;
}